<div mat-dialog-title class="player-editor-title">
    <mat-form-field appearance="fill">
        <mat-label>Player Name</mat-label>
        <input matInput required [formControl]="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Character Name</mat-label>
        <input matInput [formControl]="characterName">
    </mat-form-field>

</div>
<mat-dialog-content>
    <div class="player-editor-content">
        <mat-form-field appearance="fill">
            <mat-label>Class</mat-label>
            <mat-select [(ngModel)]="characterClass">
                <mat-option *ngFor="let class of classes" [value]="class">{{class}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Level</mat-label>
            <input min="1" max="20" matInput type="number" [formControl]="level">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Experience</mat-label>
            <input min="0" matInput type="number" [formControl]="xp">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Max Hit Points</mat-label>
            <input min="0" matInput type="number" [formControl]="maxHp">
        </mat-form-field>


    </div>

    <div class="player-editor-content">
        <mat-form-field appearance="fill">
            <mat-label>Strength</mat-label>
            <input min="0" max="30" matInput type="number" [formControl]="strength">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Dexterity</mat-label>
            <input min="0" max="30" matInput type="number" [formControl]="dexterity">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Constitution</mat-label>
            <input min="0" max="30" matInput type="number" [formControl]="constitution">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Intelligence</mat-label>
            <input min="0" max="30" matInput type="number" [formControl]="intelligence">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Wisdom</mat-label>
            <input min="0" max="30" matInput type="number" [formControl]="wisdom">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Charisma</mat-label>
            <input min="0" max="30" matInput type="number" [formControl]="charisma">
        </mat-form-field>

    </div>

    <h3><i>This is still under construction, more features to be added soon</i></h3>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save()"
        [disabled]="containsErrors()">Save</button>
</mat-dialog-actions>