<div class="filters">
    <mat-form-field appearance="fill">
        <mat-label>Monster Type</mat-label>
        <mat-select [(ngModel)]="filter.typeFilter.currentValue" (selectionChange)="filterUpdated()">
            <mat-option value="">Any</mat-option>
            <mat-option *ngFor="let type of filter.typeFilter.getOptions()" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Monster Size</mat-label>
        <mat-select [(ngModel)]="filter.sizeFilter.currentValue" (selectionChange)="filterUpdated()">
            <mat-option value="">Any</mat-option>
            <mat-option *ngFor="let size of filter.sizeFilter.getOptions()" [value]="size">{{size}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="rating-field" appearance="fill">
        <mat-label>Min Rating</mat-label>
        <input matInput type="number" [(ngModel)]="filter.minChallengeRatingFilter.currentValue"
            (change)="filterUpdated()">
    </mat-form-field>

    <mat-form-field class="rating-field" appearance="fill">
        <mat-label>Max Rating</mat-label>
        <input matInput type="number" [(ngModel)]="filter.maxChallengeRatingFilter.currentValue"
            (change)="filterUpdated()">
    </mat-form-field>

</div>