.monster-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .monster-content-column {
        padding: 8px;
        min-width: 256px;
        display: flex;
        flex-direction: column;
    }
}

.data-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    *  {
        margin-right: 8px; 
    }
}

.monster-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}