<div class="encounter-editor">
    <div class="encounter-editor-title">
        <mat-form-field appearance="fill">
            <mat-label>Encounter Name</mat-label>
            <input matInput [(ngModel)]="encounter.name">
        </mat-form-field>

    </div>
    <div class="encounter-editor-content">

        <div class="monster-selector">

            <dm-monster-lookup (select)="selectMonster($event)"></dm-monster-lookup>
        </div>


        <div class="editor-controls">
            <button mat-fab color="primary" (click)="addSelectedMonster()" [disabled]="selectedMonster == null">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="monster-instances">
            <dm-encounter-details [encounter]="encounter"></dm-encounter-details>
        </div>
    </div>

    <h3><i>This is still under construction, more features to be added soon</i></h3>
</div>