.encounter-editor-title {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    * {
        padding: 8px;
        flex: 1;
    }
}

.encounter-editor-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    * {
        padding: 8px;
        width: 128px;
    }
}