<div mat-dialog-title class="encounter-editor-title">
    <mat-form-field appearance="fill">
        <mat-label>Encounter Name</mat-label>
        <input matInput [(ngModel)]="encounter.name">
    </mat-form-field>

</div>
<mat-dialog-content>
    <div class="encounter-editor-content">

    </div>

    <h3><i>This is still under construction, more features to be added soon</i></h3>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>