<div class="monster-lookup">
  <div class="monster-list-column">
    <dm-monster-lookup-filter [filter]="filter" (change)="applyFilter()">
    </dm-monster-lookup-filter>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let monster of monsterList" (afterExpand)="expandMonster(monster.index)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{monster.name}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>

        </mat-expansion-panel-header>
        <div class="monster-definition-content">
          <div *ngIf="selectedMonsterIndex == monster.index">
            <mat-spinner *ngIf="!monsterDefinition"></mat-spinner>
            <dm-monster-card *ngIf="monsterDefinition" [definition]="monsterDefinition"
              style="flex: 1; padding: 8px; box-sizing:border-box">
            </dm-monster-card>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>