<div class="party-editor">
    <mat-form-field appearance="fill">
        <mat-label>Party Name</mat-label>
        <input matInput type="number" [(ngModel)]="party.name">
    </mat-form-field>

    <div class="row">
        <h2>Players</h2>


    </div>

    <mat-accordion class="player-list">
        <mat-expansion-panel *ngFor="let player of party.players">
            <mat-expansion-panel-header>
                <mat-panel-title class="player-title">
                    <div>
                        <button mat-mini-fab color="accent" (click)="editPlayer(player)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                    <div>
                        {{player.name}}
                    </div>
                    <div style="text-align: center;">
                        {{player.characterName}}
                    </div>
                    <div style="text-align: center;">
                        {{player.characterClass}} {{player.level}}
                    </div>
                    <div style="text-align: right;">
                        <button mat-mini-fab color="warn" (click)="deletePlayer(player)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>

            </mat-expansion-panel-header>
            <div class="player-content">

            </div>

        </mat-expansion-panel>

        <div class="add-button-space">
            <button mat-fab color="primary" (click)="addPlayer()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </mat-accordion>
</div>