//TODO maybe add small, medium, large icons?
.value-icon-content {
    position: relative;
    width: 64px;
    height: 64px;

    .value-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 64px;
        font-size: 64px;
    }

    .value {
        position: absolute;
        top: 20px;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
}